<header className="header" class="fixed top-0 left-0 w-full h-20 bg-red-500 text-white-50 pt-1 pr-10 flex justify-between items-center">
  <div class="logo">
    <app-logo-white logoWidth="180"></app-logo-white>
  </div>
  <div className="search-bar-box" class="bg-white-50 font-sans text-sm text-gray-500 w-6/12 rounded  h-10 flex justify-start items-center">
    <div className="search-box-text" class="flex justify-center items-center w-full">
      <input type="text" id="search-box-input" placeholder="Digite sua busca" class="w-11/12 h-10 text-sm rounded z-3 mr-3">
      <app-search-logo></app-search-logo>
    </div>
  </div>
  <div className="icons-box" class="flex w-2/12 justify-around items-center">
    <app-bell-icon />
    <app-user-icon />
  </div>
</header>
