<div className="card-container" class="shadow-box">
  <div className="card-logo">
    <app-logo-white logoWidth="120"/>
  </div>

  <div className="card-middle">
    <img src="../../../assets/chip.png" width="60px">
    <div>
      <p>XXXXX</p>
      <p>XXXXX</p>
      <p>XXXXX</p>
      <p>XXXXX</p>
    </div>
  </div>

  <div className="card-footer">
    <p>Olá Fulano</p>
    <p>Agencia 0001</p>
    <p>CC 111111111</p>
  </div>

  <div className="card-limit">
    <p>Limit:1000</p>
  </div>

</div>
