<div className="card-container" class="shadow-box flex flex-col justify-around w-2/5 h-3/4 bg-red-500 rounded-xl text-white mt-40">
  <div className="card-logo" class="flex justify-end items-center mr-7 h-1/5">
    <app-logo-white logoWidth="120"/>
  </div>

  <div className="card-middle" class="flex h-4/5 justify-start items-center">
    <img src="../../../assets/chip.png" width="60px">
    <div class="flex justify-around items-start w-full">
      <p>XXXXX</p>
      <p>XXXXX</p>
      <p>XXXXX</p>
      <p>XXXXX</p>
    </div>
  </div>

  <div className="card-footer" class="flex justify-around text-2x1 h-8">
    <p>Olá Fulano</p>
    <p>Agencia 0001</p>
    <p>CC 111111111</p>
  </div>

  <div className="card-limit" class="flex justify-end text-base mr-4 mb-3">
    <p>Limit:1000</p>
  </div>

</div>
